**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
**/.terraform/
**/*.tfvars
/ansible
/bench
**/bench
.vscode/settings.json
**/id_rsa.pub
**/bitwarden
.bitwarden
device_identifier
