version: "3.8"

services:

  linkstack:
    image: 'linkstackorg/linkstack:latest'
    hostname: 'linkstack'
    environment:
      TZ: 'America/Santiago'
      SERVER_ADMIN: 'admin@cervant.net'
      HTTP_SERVER_NAME: 'cervant.net'
      HTTPS_SERVER_NAME: 'cervant.net'
      LOG_LEVEL: 'info'
      PHP_MEMORY_LIMIT: '256M'
      UPLOAD_MAX_FILESIZE: '8M'
    volumes:
      - 'linkstack_data:/htdocs'
    ports:
      - target: 443
        published: 8190
        mode: host
    deploy:
      replicas: 1
      placement:
        constraints:
          - "node.role==worker"
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 10s

volumes:
  linkstack_data: