KOMODO_DB_USERNAME=komodo
KOMODO_DB_PASSWORD=change-me-strong-password
KOMODO_HOST=https://komodo-monitoring.home.cervant.net
KOMODO_FIRST_SERVER=https://periphery:8120
KOMODO_FIRST_SERVER_NAME=lxc-monitoring
KOMODO_LOCAL_AUTH=false
KOMODO_OIDC_ENABLED=true
KOMODO_OIDC_PROVIDER=https://authentik.example.com/application/o/komodo/
KOMODO_OIDC_CLIENT_ID=change-me-client-id
KOMODO_OIDC_CLIENT_SECRET=change-me-client-secret
KOMODO_ENABLE_NEW_USERS=true
KOMODO_PASSKEY=change-me-strong-passkey
PERIPHERY_PASSKEYS=change-me-strong-passkey
COMPOSE_KOMODO_IMAGE_TAG=latest
KOMODO_CORE_PORT=9120
PERIPHERY_PORT=8120
PERIPHERY_ROOT_DIRECTORY=/etc/komodo
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
PERIPHERY_SSL_ENABLED=true
COMPOSE_KOMODO_BACKUPS_PATH=./komodo-backups
MONGO_CACHE_GB=0.25