KOMODO_DB_USERNAME=komodo
KOMODO_DB_PASSWORD=change-me-strong-password
PERIPHERY_PASSKEYS=change-me-strong-passkey
COMPOSE_KOMODO_IMAGE_TAG=latest
KOMODO_CORE_PORT=9120
PERIPHERY_PORT=8120
PERIPHERY_ROOT_DIRECTORY=/etc/komodo
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
PERIPHERY_SSL_ENABLED=true
COMPOSE_KOMODO_BACKUPS_PATH=./komodo-backups
MONGO_CACHE_GB=0.25
